.login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.login__body {
  width: 400px;
  border-radius: 10px;
  padding: 20px;
  background: white;
  padding-bottom: 0;
}
.login__title {
  text-align: center;
}
.login__btn {
  float: right;
}